.navbar {
    padding: 0.5vw 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
}

.navbar .hero {
    font-size: 2.5vw;
}

.navbar .list .addTodo {
    padding: 0.5vw 1vw;
    font-size: 1.3vw;
    border-radius: 10vw;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
